body{
	background-color:purple;
}

h1,{
	color:green;
}
p{
	color:white;
}
h1, p {
	text-align:center;
}
h1,{
	font-size:30px;
}
p{
	font-size:18px;
}
p{
	font-style:italic;
}
p{
	text-decoration:underline;
}
